<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Best Restaraunts in Oregon</title>
</head>
<body>
    <h1><a href="/"><img src="/oregon.jpg"></a>Best Restaurants in Oregon</h1>
    <div class="container">
            <h2><em>{{ cuisine.getType }} Food</em></h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Add a Restaurant</h3>
                <form action="/addRestaurant" method="post">
                    <input id="cuisine_id" value="{{ cuisine.getId }}" type="hidden" name="cuisine_id">
                    <label for="restaurant">Enter a restaurant name:</label>
                    <input id="name" class="form-control" type="text" name="name" required>
                    <label for="restaurant">Rate the restaurant:</label>
                    <input id="rate" class="form-control" type="number" name="rate" min="1" max="5" placeholder="1-5">
                    <br>
                    <button type="submit" class="btn">Add a restaurant</button>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Restaurants with {{ cuisine.getType }} food</h3>
                {% if restaurants is not empty %}
                <form action="/searchCuisines{{ cuisine.getId }}" method="post">
                    <input name="search" type="text" required>
                    <button type="submit">Search!</button>
                </form>
                <hr>
                    {% for restaurant in restaurants %}
                    <h4><a href="/getRestaurant/{{ restaurant.getId }}">{{ restaurant.getName }} </a> &nbsp;
                        {% if restaurant.getRate == 1 %}
                            <img src="/star.png">
                        {% elseif restaurant.getRate == 2 %}
                            <img src="/star.png">
                            <img src="/star.png">
                        {% elseif restaurant.getRate == 3 %}
                            <img src="/star.png">
                            <img src="/star.png">
                            <img src="/star.png">
                        {% elseif restaurant.getRate == 4 %}
                            <img src="/star.png">
                            <img src="/star.png">
                            <img src="/star.png">
                            <img src="/star.png">
                        {% else %}
                            <img src="/star.png">
                            <img src="/star.png">
                            <img src="/star.png">
                            <img src="/star.png">
                            <img src="/star.png">
                        {% endif %}
                    </h4>
                    {% endfor %}
                    <form action="/deleteRestaurants" method="post">
                        <button type="submit" class="btn">Delete ALL Restaurants</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-4">
                <h3>Update/Delete this Cuisine</h3>
                <br>
                <form action="/updateCuisine/{{ cuisine.getId }}">
                    <button class="btn" type="submit">Update Cuisine</button>
                </form>
                <br>
                <form action="/deleteCuisine/{{ cuisine.getId }}" method="post">
                    <input name="_method" type="hidden" value="delete">
                    <button class="btn" type="submit">Delete Cuisine</button>
                </form>
            </div>
            <br>
        </div>
        <br>
        <a href="/">Home</a>
    </div>
</body>
</html>
